.banner{
    height: 480px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 100%;
   
    
}
.banner_content h1{
    color: white;
    font-size: 40px;
    max-width: 60%;
}
.banner_content{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    
}
.description{
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 40%;
    margin-top: 30px;
}
.banner_button{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: rgb(70, 68, 68);
    color:white;
    border-radius: 5px;
    font-size: 17px;
    border: none;
 
}
.banner_button:hover{
    background-color: rgb(247, 239, 239);
    color: rgb(34, 32, 32);
  transition: all 0.5s;
}
.banner_button:nth-child(2){
    margin-left: 20px;
}
.blur{
   
 margin-top: 3%;
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.68),
        #111 
    ) ;
}
@media only screen and (max-width: 800px) {
    .description{
        font-size: 14px;
    }
    .banner{
        height: 250px;
    }
    .banner_content h1{
        font-size: 18px;
    }
    .banner_content{
        margin-top: 0px;
        margin-bottom: 20px;
        height: 100px;
        margin-left: 10px;
        padding-top: 70px;
    }
   }